---
on:
  release:
    types:
      - published

permissions:
  contents: write
env:
  TAG: ${{ github.event.release.tag_name }}
jobs:
  build-raspbian:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@v16
        with:
          name: nix-community
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: build
      - run: nix develop --command just debian-armv6
      - run: |
          VERSION=${TAG#v}
          gh release upload "${TAG}" "target/arm-unknown-linux-gnueabihf/debian/memocadre_${VERSION}-1_armhf.deb#memocadre_raspbian" \
            "target/arm-unknown-linux-gnueabihf/release/memocadre#memocadre_raspbian"
